@model WebBanHang.EF.product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Backend/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="product_code">Mã sản phẩm</label>
        <input type="text" id="product_code" name="product_code" class="form-control" />
    </div>


    <div class="form-group">
        <label for="product_name">Tên sản phẩm</label>
        <input type="text" id="product_name" name="product_name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="description">Mô tả</label>
        <input type="text" id="description" name="description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="standard_cost">Giá cơ bản</label>
        <input type="text" id="standard_cost" name="standard_cost" class="form-control" />
    </div>


    <div class="form-group">
        <label for="target_level">target_level</label>
        <input type="text" id="target_level" name="target_level" class="form-control" />
    </div>

    <div class="form-group">
        <label for="reorder_level">reorder_level</label>
        <input type="text" id="reorder_level" name="reorder_level" class="form-control" />
    </div>

    <div class="form-group">
        <label for="minimum_reorder_quantity">minimum_reorder_quantity</label>
        <input type="text" id="minimum_reorder_quantity" name="minimum_reorder_quantity" class="form-control" />
    </div>

    <div class="form-group">
        <label for="quantity_per_unit">quantity_per_unit</label>
        <input type="text" id="quantity_per_unit" name="quantity_per_unit" class="form-control" />
    </div>

    <div class="form-group">
        <label for="discontinued">discontinued</label>
        <input type="text" id="discontinued" name="discontinued" class="form-control" />
    </div>

    <div class="form-group">
        <label for="list_price">Danh mục</label>
        <input type="text" id="category" name="category" class="form-control" />
    </div>

    <div class="form-group">
        <label for="image">Hình đại diện sản phẩm</label>
        <input type="file" id="image" name="image" class="form-control" />
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" type="submit">Lưu Sản phẩm</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
